<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>User Form</h1>
    <p>This is the Form for new users</p>
    <form action="/users/<%= user.id %>" method="post">
      <input
        type="text"
        name="name"
        placeholder="Enter Your Name"
        value="<%= user.name %>"
      />
      <input
        type="text"
        name="email"
        placeholder="Enter Your Email"
        value="<%= user.email %>"
      />
      <input
        type="number"
        name="age"
        placeholder="Enter Your Age"
        value="<%= user.age %>"
      />
      <input type="submit" value="Update User" />
    </form>
    <a href="/users/<%= user.id %>/delete">
      <button>delete</button>
    </a>
  </body>
</html>
